*{   
    font-family:system-ui;
    margin:0;
    padding:0;
    color:#033475;
    font-size:100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    user-select:none;
    background-repeat: no-repeat;
}

#button{
    background:none;
    outline: none;
    border:0;
    cursor:pointer;
}

#banner{
    font-size: 300%;
    font-weight: 700;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:1em 0em;
    letter-spacing: -5px
}

#body{
    height: 100vh;
    width: 100vh;
}
#banner>::first-letter{
    color: #e35;
}
#tile{
    font-size:400%;
    border-radius: 7px;
    font-weight: 700%;
    padding: .5em;
    font-family: monospace;
    border: 1px solid #4a4b4a11;
}
#word{
    padding: 1em 0;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}

#hint{
    border: 1px solid;
    padding: 1em;
}

#bulb{
    height: 3em;
    width: 3em;
}

#txt{
    font-size: 150%;
    font-weight: 500;
    font-family: monospace;

}

#chevron{
    height: 1em;
    width: 1em;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 7px;
    position: absolute;
    transition: box-shadow .5s;
}
#backward{
    left: 4em;
    background-image:url(chevron-forward-outline.svg)
}

#forward{
    right:4em;
    background-image: url(chevron-back-outline.svg)
}

#chevron:hover{
    box-shadow: 0px 3px 5px #ccc;
}

#restartBtn{
    border: 1px solid red;
    height: 4em;
    width: 4em;
    background-image: url(refresh-outline.svg);
}

#hintBtn{
    height: 4em;
    width: 4em;
    border: 1px solid red;
    box-shadow: none;
    background-image: url(help-circle-outline.svg);
}


#action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2em;
}
#checkBtn > span{
    color: #fff;
    font-size: 110%;
    font-weight: 500;
    

}
    
#checkBtn{
    border-radius:24px;
   background-color: #8b008b;
   border: 1px solid red;
   align-items: center;
   justify-content: center;
   padding-left: 2em;

}
#checkBtn > i{
    height: 4em;
    width: 4em;
    background-image:url(arrow-forward-outline.svg);
    background-size: 5em;
    background-repeat: no-repeat;
    background-position: center;
}



#cup{
    height: 4em;
    width: 4em;
    background-image:url(trophy-outline.svg);
    display: flex;
    align-items: center;
    justify-content: center;
}


#i{       
    padding:.5
    
    
    }
    
    
    #footer{
        position: sticky;
        top:100%;
        background-color: #f9f9f9;
                                                          
    }
    
    #author{
        padding:2em;
        background-color: #555;
        align-items: center;
        justify-content: center;
    }
    #trophy, #wrap, #x_close {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }
    ::backdrop {
        background-color: #3339;
    }
    [popover] {
        outline: none;
        border: 0;
    }
    #gameover {
        width: 360px;
        height: 488px;
        margin: auto;
        border-radius: 16px;
        overflow: hidden;
    }
    #wrap {
        height: 100%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3em;
        background-image: url('./sun_ray_pattern_stock_photos.jpg');
        background-size: cover;
    }
    #trophy {
        background-image: url('./trophy-outline.svg');
        height: 10em;
        width: 10em;
        /* border: 1px solid; */
        background-size: 70%;
    }
    @keyframes spinY {
        from {
            rotate: y 0deg;
        }
        to {
            rotate: y 180deg;
        }
    }
    #gameover:popover-open #trophy {
        animation: spinY .5s linear 1 backwards;
    }
    #total_score, pre {
        font-family: monospace;
        font-size: 400%;
        font-weight: 700;
    }
    sup {
        font-family: monospace;
        font-size: 70%;
    }
    #x_close {
        height: 3em;
        width: 3em;
        border-radius: 50%;
        position: fixed;
        right: 3em;
        top: 3em;
        background-image: url('./close-outline.svg');
        border: 1px solid #f3f3f3;
    }
    
    /*responsive design*/
    @media (width <= 480px)  {
        .tile{  
            font-size: 100%;  
    }
        #forward, #backward{
            background-size: 30%;
    }
    }
    #word{
        position: static;
    }
    #backwards{
        right: 0;
    }
    #forward{
        left:0;
    }
    #txt{
        font-size: 100%;
    }
    #action{
        border: 1px dotted red;
        width:100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    #checkBtn{
        margin-left: 0;
    }
    #restartBtn, #hintBtn{
        width: 2em;
        height: 4em;
        

    }
    #cup > i{
        font-size: 70%;
    }
    #cup{
        width: 2em;
        height: 4em;
    }
    #checkBtn > i{
        height: 4em;
        width: 4em;

    }
